<div class="preloader">
  <div class="cssload-container">
    <div class="cssload-speeding-wheel"></div>
    <p>Loading...</p>
  </div>
</div>

<app-doublenav></app-doublenav>
<main id="main-slim" class="slim-main">
  <div class="container-fluid container-bg">
    <div class="page-headings text-left">
      <h3>Deeded <span class="font-weight-lighter">Transactions</span></h3>
      </div>
    <form>
      <div class="form-box-shadow white row p-4">
        <div class="form-group col-md-4 input-spacing">
          <span class="p-float-label">
            <input
              type="text"
              id="grantorLname"
              pInputText
            />
            <label htmlFor="grantorLname">Grantor Last Name</label>
          </span>
        </div>
        <div class="form-group col-md-4 input-spacing">
          <span class="p-float-label">
            <input
              type="text"
              id="grantorFname"
              pInputText
            />
            <label htmlFor="grantorFname">Grantor First Name</label>
          </span>
        </div>
        <div class="form-group col-md-4 input-spacing">
          <span class="p-float-label">
            <input
              type="text"
              id="grantorOname"
              pInputText
            />
            <label htmlFor="grantorOname">Grantor Other Name</label>
          </span>
        </div>
        <div class="form-group col-md-4 input-spacing">
          <span class="p-float-label">
            <input
              type="text"
              id="grantorLname"
              pInputText
            />
            <label htmlFor="grantorLname">Grantee Last Name</label>
          </span>
        </div>
        <div class="form-group col-md-4 input-spacing">
          <span class="p-float-label">
            <input
              type="text"
              id="grantorFname"
              pInputText
            />
            <label htmlFor="grantorFname">Grantee First Name</label>
          </span>
        </div>
        <div class="form-group col-md-4 input-spacing">
          <span class="p-float-label">
            <input
              type="text"
              id="grantorOname"
              pInputText
            />
            <label htmlFor="grantorOname">Grantee Other Name</label>
          </span>
        </div>
        <div class="col-md-6 input-spacing">
            <span class="p-float-label">
                <p-dropdown inputId="type" [autoDisplayFirst]="false" [options]="instrumentType" optionLabel="name" [style]="{width: '100%'}"></p-dropdown>
                <label for="type">Instrument Type</label>
            </span>
        </div>
        <div class="col-md-6 input-spacing">
            <span class="p-float-label">
                <p-dropdown inputId="type" [autoDisplayFirst]="false" [options]="county" optionLabel="name" [style]="{width: '100%'}"></p-dropdown>
                <label for="type">County</label>
            </span>
        </div>
      </div>
    </form>
  </div>
</main>
