@import "../../break-points.scss";
.cover-user {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e9f2;
}

small {
  color: red;
  font-size: 0.75rem;
  line-height: 5px !important;
  margin-left: 8px;
  margin-top: -10px;
}
.small-text-show {
  opacity: 1;
}
.password-reset-error {
  margin-top: 16px;
  margin-left: 8px;
}
.small-text-hide {
  opacity: 0;
}
.auth-form {
  animation: zoomIn;
  animation-duration: 2s;
}

.kwarecom {
  position: absolute;
  bottom: 0 !important;
  margin: 6px auto;
  text-align: center !important;
  margin-left: 4rem;
  span {
    font-size: 0.85rem;
    color: #45526e;
  }
  a {
    font-size: 0.85rem;
    color: #0d47a1;
    font-weight: 300;
  }
}

.label-opacity {
  opacity: 0.8;
}
.acronym-opacity {
  opacity: 1 !important;
}
.form-group input,
.input-group input {
  width: 100%;
  height: 50px;
  border: 1px solid #eee;
  padding: 0 8px;
  color: #555;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
}

.toggle-password {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 0;
  right: 2px;
  height: 50px;
  width: 50px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  height: 44px !important;
  border: 1px solid #c5c4c4;
  padding: 0 20px !important;
  color: #1c2a48 !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  border-radius: 25px !important;
  display: inline-block;
  box-sizing: border-box;
}

button[type="submit"] {
  padding: 7px 40px !important;
}

.hide-content {
  display: none !important;
}
.sign-in {
  color: #4285f4;
}

#signin {
  background-color: transparent;
}

.py-6 {
  height: 100vh;
}
.container-fluid {
  overflow: hidden;
}

.padding-less.img {
  background: center no-repeat;
  background-size: cover;
}

.img-overlay {
  display: block;
}

.login-page {
  height: 100%;
}
.login-form {
  margin-top: 9rem;
  padding: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-card {
 width: 65%;
}

.form-light .font-small {
  font-size: 0.8rem;
}
.pink-text {
  color: #ff1744;
}
.form-light .z-depth-1a {
  -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26),
    0 4px 12px 0 rgba(121, 155, 254, 0.25);
  box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26),
    0 4px 12px 0 rgba(121, 155, 254, 0.25);
}

.form-light .z-depth-1-half,
.form-light .btn:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28),
    0 4px 15px 0 rgba(36, 133, 255, 0.15);
  box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28),
    0 4px 15px 0 rgba(36, 133, 255, 0.15);
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-img img {
  border: 10px solid #e3f2fd;
  border-radius: 60px;
}
.img-style {
  display: block;
  margin: auto;
  position: absolute;
}
.waves-block {
  position: absolute;
  width: 800px;
  height: 800px;
  right: -85px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.waves-block .waves {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(54, 39, 133, 0.2);
  opacity: 0;
  -ms-filter: "alpha(opacity=0)";
  border-radius: 50%;
  background-clip: padding-box;
  -webkit-animation: waves 6s ease-in-out infinite;
  animation: waves 6s ease-in-out infinite;
}
.waves-block .wave-1 {
  -webkit-animation-delay: 0s;
  animation-delay: 2s;
}
.waves-block .wave-2 {
  -webkit-animation-delay: 1s;
  animation-delay: 3s;
}
.waves-block .wave-3 {
  -webkit-animation-delay: 2s;
  animation-delay: 4s;
}

.slider_content {
  padding-top: 80px;
}

.slider_content .slider_title {
  font-size: 2.25rem;
  color: #1c2a48;
  animation: fadeInDown;
  animation-duration: 2s;
  animation-delay: 0.2s;
  font-weight: 800;
}

.slider_content p {
  font-size: 18px;
  color: #1c2a48;
  font-family: "Quicksand", sans-serif;

  animation: fadeInUp;
  animation-duration: 6s;
  animation-delay: 0.7s;
}

.password-eye-icon {
  color: #555;
}
@keyframes waves {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
  }
  50% {
    opacity: 0.7;
    -ms-filter: "alpha(opacity=90)";
  }
  100% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
  }
}

@include to($breakpoint-sm) {
  .cover-user {
  background-color: #fff;
  }
  .waves-block {
    position: relative;
    display: none;
  }
  .hero-img img {
    background-color: transparent;
  }
  .img-overlay {
    position: relative;
    display: none;
  }
  .img {
    display: none;
  }
  input[type="text"],
  input[type="password"] {
  border: 1px solid #949393 !important;
}
.img-style {
  display: none;
}
.container-fluid {
  overflow-y: auto;
}
  .login-form {
  margin-top: 4rem;
  padding: 0;
}
.white-text {
  color: #1c2a48 !important;
}
.padding-less.img {
  position: relative;
  display: none;
}

  @include orientation(landscape) {
    .login-form {
      margin-top: 4rem;
    }
  }
}

@include to($breakpoint-md) {
  .hero-img img {
    background-color: transparent;
  }
  .form-card {
    width: 100%;
  }
  .login-form {
    padding: 4rem;
  }
}
@include between($breakpoint-sm, $breakpoint-md) {
  @include orientation(portrait) {
    .hero-img img {
      background-color: transparent;
    }
  }
  .slider_title {
    font-size: 1.25rem !important;
  }
  .waves-block {
    display: none;
  }
}

@include between($breakpoint-md, $breakpoint-lg) {
  .slider_title {
    font-size: 1.5rem !important;
  }
  .waves-block {
    width: 600px;
    height: 600px;
    right: -40px;
  }
  @include orientation(portrait) {
    .hero-img img {
      background-color: transparent;
    }
  }
}
@include between($breakpoint-lg, $breakpoint-xl) {
  .hero-img img {
    background-color: transparent;
  }
  .waves-block {
    right: -130px;
  }
}
// @include between($breakpoint-xl, $breakpoint-xxl) {
//   .waves-block {
//     right: -80px;
//   }
// }