<section class="cover-user">
    <div class="container-fluid">
      <div class="row">
  
        <div class="col-md-5 py-2"> 
          <div id="pagecontent" class="form-light">
            <div *ngIf="!isVisible && !showPasswordReset" id="signin" class="auth-form">
              <div class="hero-img py-6">
                <div class="waves-block">
                  <div class="waves wave-1"></div>
                  <div class="waves wave-2"></div>
                  <div class="waves wave-3"></div>
                </div>
                <div class="img-style">
                  <img src="assets/images/landing/mobile-2.png" alt="" />
                </div>
  
                <form
                  class="login-form mb-2"
                  [formGroup]="loginFormGroup"
                  (ngSubmit)="userLogin()"
                >
                <div class="form-card">
                  <div class="text-center position-relative">
                    <h4 class="pink-text mb-4">
                      <strong class="font-weight-bold">
                        Sign <span class="sign-in">In</span></strong
                      >
                    </h4>
                  </div>
                  <div class="form-group pb-0 position-relative mb-0">
                    <label class="white-text ml-1 font-weight-light"
                      >Email <span class="text-danger h4">*</span></label
                    >
                    <input
                      type="text"
                      formControlName="email"
                      [ngClass]="
                        loginEmailControl.hasError('required') &&
                        (loginEmailControl.dirty || loginEmailControl.touched)
                          ? 'invalid-error'
                          : 'form-control'
                      "
                      [placeholder]="
                        loginEmailControl.hasError('required') &&
                        (loginEmailControl.dirty || loginEmailControl.touched)
                          ? 'Email' + validator.errorRequiredText
                          : 'Your Email'
                      "
                    />
                    <small
                      [ngClass]="
                        loginEmailControl.hasError('required') &&
                        (loginEmailControl.dirty || loginEmailControl.touched)
                          ? 'small-text-show'
                          : 'small-text-hide'
                      "
                      >Email {{ validator.errorRequiredText }}</small
                    >
                  </div>
  
                  <div class="form-group pb-2 position-relative">
                    <label class="white-text ml-1 font-weight-light"
                      >Password <span class="text-danger h4">*</span></label
                    >
                    <span
                      mdbWavesEffect
                      class="toggle-password"
                      (click)="togglePasswordDisplay()"
                      ><i
                        [ngClass]="
                          togglePassword === 'password'
                            ? 'far fa-eye-slash'
                            : 'far fa-eye password-eye-icon'
                        "
                      ></i
                    ></span>
                    <input
                      [type]="togglePassword"
                      formControlName="password"
                      [ngClass]="
                        loginPasswordControl.hasError('required') &&
                        (loginPasswordControl.dirty ||
                          loginPasswordControl.touched)
                          ? 'invalid-error'
                          : 'form-control'
                      "
                      [placeholder]="
                        loginPasswordControl.hasError('required') &&
                        (loginPasswordControl.dirty ||
                          loginPasswordControl.touched)
                          ? 'Password' + validator.errorRequiredText
                          : 'Your Password'
                      "
                    />
                    <div
                      class="d-block"
                    >
                      <!-- <small
                        [ngClass]="
                          loginPasswordControl.hasError('required') &&
                          (loginPasswordControl.dirty ||
                            loginPasswordControl.touched)
                            ? 'small-text-show'
                            : 'small-text-hide'
                        "
                        >Password {{ validator.errorRequiredText }}</small> -->
                      <p
                        class="
                          font-small
                          white-text
                          d-flex
                          justify-content-between
                          font-weight-light w-100
                          mt-0
                          font-weight-light
                        "
                      >
                      <span>Password <a
                        mdbWavesEffect
                        (click)="handleToggleReset()"
                        class="white-text ml-1 font-weight-bold"
                        >Reset</a>
                      </span>

                      <span>
                        Forgot
                        <a
                          mdbWavesEffect
                          (click)="handleFormToggle()"
                          class="white-text ml-1 font-weight-bold"
                        >Password</a>?
                      </span>
                      </p>
                    </div>
                  </div>
  
                  <div class="text-center mb-1 pr-2 pl-2">
                    <button
                      type="submit"
                      mdbBtn
                      gradient="blue"
                      block="true"
                      rounded="true"
                      class="z-depth-1a waves-light font-weight-bold"
                    >
                      Login
                    </button>
                  </div>
                  <mdb-progress-bar
                    *ngIf="isLoading"
                    class="progress primary-color-dark"
                    mode="indeterminate"
                  ></mdb-progress-bar>
                </div>
                </form>
                </div>
              </div>
  
            <div *ngIf="isVisible" id="forgetPassword" class="auth-form">
              <div class="hero-img py-6">
                <div class="waves-block">
                  <div class="waves wave-1"></div>
                  <div class="waves wave-2"></div>
                  <div class="waves wave-3"></div>
                </div>
                <div class="img-style">
                  <img src="assets/images/landing/mobile-2.png" alt="" />
                </div>
  
                  <form
                    class="login-form mb-2"
                    [formGroup]="requestFormGroup"
                    (ngSubmit)="resetPassword()"
                  >
                  <div class="form-card">
                    <div class="text-center position-relative">
                      <h4 class="pink-text mb-4">
                        <strong class="font-weight-bold"
                          >Request <br><span class="sign-in"> Password Reset</span></strong
                        >
                      </h4>
                    </div>
                    <div class="form-group pb-3 position-relative">
                      <label class="white-text ml-1 font-weight-light"
                        >Account Email
                        <span class="text-danger h4">*</span></label
                      >
                      <input
                        type="text"
                        formControlName="requestingEmail"
                        [ngClass]="
                          requestEmailControl.hasError('required') &&
                          (requestEmailControl.dirty || requestEmailControl.touched)
                            ? 'invalid-error'
                            : 'form-control'
                        "
                        [placeholder]="
                          requestEmailControl.hasError('required') &&
                          (requestEmailControl.dirty || requestEmailControl.touched)
                            ? 'Email' + validator.errorRequiredText
                            : 'Your Email'
                        "
                      />
                      <div
                        class="
                          d-flex
                          justify-content-start
                          align-items-center
                          password-reset-error
                        "
                      >
                        <small
                          [ngClass]="
                           requestEmailControl.hasError('pattern') &&
                                (requestEmailControl.dirty ||
                                  requestEmailControl.touched)
                              ? 'small-text-show'
                              : 'small-text-hide'
                          "
                          >{{validator.emailErrorPatternText}}</small>
                      </div>
                    </div>
  
                    <div class="text-center mb-1 pr-2 pl-2">
                      <button
                        type="submit"
                        mdbBtn
                        gradient="blue"
                        block="true"
                        rounded="true"
                        class="z-depth-1a waves-light font-weight-bold"
                        mdbWavesEffect
                      >
                        Request Reset
                      </button>
                    </div>
                  <div class="modal-footer my-3 p-0 pt-0 mb-1 position-relative">
                    <p
                      class="
                        font-small
                        white-text
                        d-flex
                        justify-content-between
                        font-weight-light w-100
                      "
                    >
                      Remember password?
                      <a
                        mdbWavesEffect
                        (click)="handleFormToggle()"
                        class="white-text font-weight-bold ml-1"
                      >
                        Login</a
                      >
                    </p>
                  </div>
                  </div>
                  </form>
              </div>
            </div>


            <div *ngIf="showPasswordReset" class="auth-form">
              <div class="hero-img py-6">
                <div class="waves-block">
                  <div class="waves wave-1"></div>
                  <div class="waves wave-2"></div>
                  <div class="waves wave-3"></div>
                </div>
                <div class="img-style">
                  <img src="assets/images/landing/mobile-2.png" alt="" />
                </div>
  
                  <form
                    class="login-form mb-2"
                    [formGroup]="resetFormGroup"
                    (ngSubmit)="resetPassword()"
                  >
                  <div class="form-card">
                    <div class="text-center position-relative">
                      <h4 class="pink-text mb-4">
                        <strong class="font-weight-bold"
                          >Reset<span class="sign-in"> Password</span></strong
                        >
                      </h4>
                    </div>
                    <div class="form-group pb-3 position-relative">
                      <label class="white-text ml-1 font-weight-light"
                        >Email
                        <span class="text-danger h4">*</span></label
                      >
                      <input
                        type="text"
                        formControlName="resetEmail"
                        [ngClass]="
                          resetEmailControl.hasError('required') &&
                          (resetEmailControl.dirty || resetEmailControl.touched)
                            ? 'invalid-error'
                            : 'form-control'
                        "
                        [placeholder]="
                          resetEmailControl.hasError('required') &&
                          (resetEmailControl.dirty || resetEmailControl.touched)
                            ? 'Email' + validator.errorRequiredText
                            : 'Your Email'
                        "
                      />
                      <div
                        class="
                          d-flex
                          justify-content-start
                          align-items-center
                          password-reset-error
                        "
                      >
                        <small
                          [ngClass]="
                            resetEmailControl.hasError('pattern') &&
                                (resetEmailControl.dirty ||
                                  resetEmailControl.touched)
                              ? 'small-text-show'
                              : 'small-text-hide'
                          "
                          >{{validator.emailErrorPatternText}}</small>
                      </div>
                    </div>
  
                    <div class="text-center mb-1 pr-2 pl-2">
                      <button
                        type="submit"
                        mdbBtn
                        gradient="blue"
                        block="true"
                        rounded="true"
                        class="z-depth-1a waves-light font-weight-bold"
                        mdbWavesEffect
                      >
                        Reset Password
                      </button>
                    </div>
                  <div class="modal-footer my-3 p-0 pt-0 mb-1 position-relative">
                    <p
                      class="
                        font-small
                        white-text
                        d-flex
                        justify-content-between
                        font-weight-light w-100
                      "
                    >
                      Remember password?
                      <a
                        mdbWavesEffect
                        (click)="handleToggleReset()"
                        class="white-text font-weight-bold ml-1"
                      >
                        Login</a
                      >
                    </p>
                  </div>
                  </div>
                  </form>
              </div>
            </div>

  
            <div id="verifyCode" class="hide-content col-12 pr-0 pl-0 auth-form">
              <div class="card login-page">
                <div class="card-body">
                  <div class="text-center">
                    <h4 class="pink-text mb-4">
                      <strong
                        >Confirmation<span class="sign-in"> Email</span></strong
                      >
                    </h4>
                  </div>
  
                  <p class="text-center">
                    We've sent a password reset email to
                    {{ resetEmailControl.value }}. It will expire shortly; so
                    please visit your email account to take the necessary action.
                  </p>
                  <div class="modal-footer my-3 mx-0 pt-0 mb-1">
                    <div
                      class="
                        font-small
                        grey-text
                        d-flex
                        justify-content-end
                        align-items-center
                      "
                    >
                      <span class="font-weight-lighter"
                        >Didn't get the email?</span
                      >
                      <a
                        mdbWavesEffect
                        (click)="resendEmail()"
                        class="text-decoration-none ms-3 blue-text ml-1"
                      >
                        Resend Email</a
                      ><span class="count-color pl-2">({{ count }}/3)</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-md-7 padding-less img img-overlay"
          style="background-image: url('/assets/images/landing/landing.jpg')"
        >
          <div class="col-md-9">
            <div class="slider_content">
              <!-- <h2 class="slider_title"><span class="blue-text">LLA</span> D<span class="label-opacity">igital</span> L<span class="label-opacity">and</span> R<span class="label-opacity">ecord</span> M<span class="label-opacity">anagement</span> S<span class="label-opacity">ystem</span></h2> -->
              <h2 class="slider_title"><span class="blue-text">L</span>iberia <span class="blue-text">L</span>and <span class="blue-text">A</span>uthority</h2>
              <p data-animation="fadeInUp" data-delay="0.7s">
                Digital Land Record Management System
              </p>
            </div>
          </div>
          <div class="kwarecom">
            <span>
              <!-- © 2011 - {{ currentYear }} Copyright: -->
              Powered by
              <a href="https://kwarecominc.com/" target="_blank">
                <strong> KWARECOM Inc.</strong>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>  
