<!--Double navigation-->
<header>
  <mdb-side-nav id="test-nav" #sidenav class="wide sn-bg-1 fixed light-blue-skin" [fixed]="true"
    [sidenavBreakpoint]="992">

    <mdb-navbar-brand class="adjust-img">
      <li>
        <div class="logo-wrapper waves-light">
          <a href="javascript:void(0);"><img src="assets/images/landing/lla-logo.png" alt="" class="img-fluid"></a>
        </div>
      </li>
    </mdb-navbar-brand>
    <links>

      <li>
        <ul class="collapsible collapsible-accordion">
          <mdb-accordion [multiple]="false" aria-multiselectable="false">

            <mdb-accordion-item class="no-collase">
              <mdb-accordion-item-head routerLink="/dashboard" mdbWavesEffect routerLinkActive="active"><i
                class="fas fa-tachometer-alt"></i> Dashboard </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item class="no-collase">
              <mdb-accordion-item-head routerLink="/spatial-information" mdbWavesEffect routerLinkActive="active"><i
                  class="fas fa-map-marked-alt"></i> Spatial Information </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item [collapsed]="reportRoute">
              <mdb-accordion-item-head mdbWavesEffect><i class="fas fa-file-signature"></i> Conveyances
              </mdb-accordion-item-head>
              <mdb-accordion-item-body>
                <ul>
                  <li>
                    <a routerLink="/deeded-transactions" class="waves-effect" routerLinkActive="active">
                      <span class="sv-slim"> DD </span>
                      <span class="sv-normal">Deed</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="/non-deeded-transactions" class="waves-effect" routerLinkActive="active">
                      <span class="sv-slim"> ND </span>
                      <span class="sv-normal">Non-Deed</span>
                    </a>
                  </li>
                </ul>
              </mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item [collapsed]="reportRoute">
              <mdb-accordion-item-head mdbWavesEffect><i class="fas fa-font icon-padding"></i> Lookup Attributes
              </mdb-accordion-item-head>
              <mdb-accordion-item-body>
                <ul>
                  <li>
                    <a routerLink="/Conveyance-records" class="waves-effect" routerLinkActive="active">
                      <span class="sv-slim"> CO </span>
                      <span class="sv-normal">County</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="/instrument-type" class="waves-effect" routerLinkActive="active">
                      <span class="sv-slim"> IT </span>
                      <span class="sv-normal">Instrument Type</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="/registra-attribute" class="waves-effect" routerLinkActive="active">
                      <span class="sv-slim"> RA </span>
                      <span class="sv-normal">Registrar</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="/instrument-type" class="waves-effect" routerLinkActive="active">
                      <span class="sv-slim"> SU </span>
                      <span class="sv-normal">Surveyors</span>
                    </a>
                  </li>
                </ul>
              </mdb-accordion-item-body>
            </mdb-accordion-item>
            
            <mdb-accordion-item [collapsed]="reportRoute">
              <mdb-accordion-item-head mdbWavesEffect><i class="fab fa-readme"></i> Reports
              </mdb-accordion-item-head>
              <mdb-accordion-item-body>
                <ul>
                  <li>
                    <a routerLink="/grantor" class="waves-effect" routerLinkActive="active">
                      <span class="sv-slim"> GR </span>
                      <span class="sv-normal">Grantors</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="/grantee" class="waves-effect" routerLinkActive="active">
                      <span class="sv-slim"> GE </span>
                      <span class="sv-normal">Grantee</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="/Conveyance-records" class="waves-effect" routerLinkActive="active">
                      <span class="sv-slim"> CR </span>
                      <span class="sv-normal">Conveyance Record</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="/instrument-type" class="waves-effect" routerLinkActive="active">
                      <span class="sv-slim"> IT </span>
                      <span class="sv-normal">Convenyance By Type</span>
                    </a>
                  </li> 
                  <li>
                    <a routerLink="/Conveyance-by-location" class="waves-effect" routerLinkActive="active">
                      <span class="sv-slim"> CL </span>
                      <span class="sv-normal">Conveyance By Location</span>
                    </a>
                  </li>     
            
                  <li>
                    <a routerLink="/Conveyance-by-county" class="waves-effect" routerLinkActive="active">
                      <span class="sv-slim"> CC </span>
                      <span class="sv-normal">Conveyance By County</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="/recorder" class="waves-effect" routerLinkActive="active">
                      <span class="sv-slim"> RE </span>
                      <span class="sv-normal">Recorders</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="/registra" class="waves-effect" routerLinkActive="active">
                      <span class="sv-slim"> RR </span>
                      <span class="sv-normal">Registrar</span>
                    </a>
                  </li> 
                </ul>
              </mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item class="no-collase">
              <mdb-accordion-item-head routerLink="/suggestion-box" mdbWavesEffect routerLinkActive="active"><i
                  class="fas fa-user-astronaut icon-padding "></i> Suggestion Box </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>
            <mdb-accordion-item class="no-collase">
              <mdb-accordion-item-head routerLink="/help" mdbWavesEffect routerLinkActive="active"><i
                  class="fab fa-hire-a-helper icon-padding "></i> Help </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

          </mdb-accordion>
        </ul>
      </li>
    </links>
    <div class="sidenav-bg mask-strong"></div>
  </mdb-side-nav>


  <mdb-navbar id="slim-navbar"
    SideClass="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav light-blue-skin"
    [containerInside]="false">

    <navlinks class="navbar-container">
      <div class="float-left">
        <a (click)="sidenav.show()" class="button-collapse"><i class="toogle-color fa fa-bars"></i></a>
      </div>
    </navlinks>
    <mdb-navbar-brand>
      <div class="breadcrumbs">
        <a (click)="toggleMenu()" class="breadcrumb-dn">
          <i class="getSideNav toogle-color pi pi-angle-double-left pt-1" style="font-size: 1.25rem;"></i>
        </a>
        <!-- <a class="text-nowrap nav-link waves-light font-weight-bold icon-color" href="/property-map"><i
            class="pi pi-map pr-1 animate-icon" style="font-size: 1.25rem"></i>Map</a> -->
      </div>
    </mdb-navbar-brand>

    <navlinks class="block-inline">
      <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav">

        <li class="nav-item avatar dropdown">
          <div class="row"><span style="margin: auto;" class="mr-2">DLRMS User</span>
            <a data-toggle="dropdown" class="avatar-container"
              href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">
              <!-- <p-avatar [image]="userImgUrl + '/files/' + currentUser?.user?.avatar" styleClass="p-mr-2" size="large" shape="circle"></p-avatar> <i class="ml-2 icon-color fa fa-caret-down"></i> -->
              <p-avatar image="assets/images/blank-silhouette.jpg" styleClass="p-mr-2" size="large" shape="circle"></p-avatar> <i class="ml-2 icon-color fa fa-caret-down"></i>
            </a>
          </div>
          <div class="dropdown-menu submenu">
            <a mdbWavesEffect class="dropdown-item" (click)="displayProjectForm()"><i
                class="projection pi pi-dollar fa-lg pr-1"></i> Monthly
              Projection</a>
            <a mdbWavesEffect class="dropdown-item" (click)="showUserAccountDialog()" ><i
                class="user-color pi pi-user-edit fa-lg pr-1"></i> My
              Account</a>
            <a mdbWavesEffect class="dropdown-item" (click)="showChangePassword()"><i
                class="reset-color pi pi-key fa-lg pr-1"></i> Change Password</a>

            <a mdbWavesEffect class="dropdown-item"
              (click)="displayAccountForm()"><i class="register-user pi pi-user-plus fa-lg pr-1"></i> Register User</a>
            <a mdbWavesEffect class="dropdown-item"
              (click)="displayRoleUpdateForm()"><i class="update-color pi pi-user fa-lg pr-1"></i> Update Role</a>
            <a mdbWavesEffect *ngIf="currentUser?.user?.roles === 'RETD AC'" class="dropdown-item"
              (click)="displaySignatoryForm()"><i class="update-color fa fa-signature fa-lg pr-1"></i> Signatories</a>
            <a mdbWavesEffect class="dropdown-item" (click)="logUserOut()"><i
                class="logout-color pi pi-sign-out fa-lg pr-1"></i> Log
              Out</a>
          </div>
        </li>
      </ul>
    </navlinks>
  </mdb-navbar>
</header>

<p-dialog [(visible)]="showRoleUpdateDialog" position="bottom-right" [modal]="false"
    [draggable]="false" [resizable]="false" [breakpoints]="{'960px': '25vw', '640px': '100vw'}" [style]="{width: '25vw'}">
    <ng-template pTemplate="header">
      <div class="text-center w-100">
        <h4 class="user-role-header-text login-card">
          <mdb-icon fas icon="key"></mdb-icon> Update <span class="login-card-span">
            Role</span>
        </h4>
      </div>
    </ng-template>
    <div class="p-fluid p-grid p-formgrid p-md-0">
      <div class="p-field p-col-12 p-md-12 mt-4">
        <span class="p-float-label">
            <p-dropdown (onChange)="getSelectedValue($event)" inputId="userName" [autoDisplayFirst]="false" [options]="userNames" [(ngModel)]="fullName" optionLabel="label" [ngClass]="isUserNameInValid ? 'ng-invalid ng-dirty' : ''" [style]="{fontWeight: 600}"></p-dropdown>
            <label class="font-weight-lighter" for="userName">Users</label>
        </span>
        <small *ngIf="isUserNameInValid" id="userName" class="p-error">User name is required!</small>
    </div>
      <div class="p-field p-col-12 p-md-12 input-container">
        <span class="p-float-label">
            <input type="text" id="email" pInputText [(ngModel)]="email" disabled class="p-inputtext-size"> 
            <label class="font-weight-lighter" for="email">Email</label>
        </span>
    </div>
    <div class="p-field p-col-12 p-md-12 input-container">
      <span class="p-float-label">
          <p-dropdown inputId="userStatus" (onChange)="handleStatusSelection($event)" [autoDisplayFirst]="false" [options]="userStatusList" [(ngModel)]="newUserStatus" optionLabel="label" [style]="{fontWeight: 600}">
          </p-dropdown>
          <label class="font-weight-lighter" for="userStatus">User Status</label>
      </span>
  </div>
    <div class="p-field p-col-12 p-md-12 input-container">
      <span class="p-float-label">
          <p-dropdown inputId="userRole" [autoDisplayFirst]="false" [options]="userRoleList" [(ngModel)]="newUserRole" optionLabel="label" [style]="{fontWeight: 600}">
          </p-dropdown>
          <label class="font-weight-lighter" for="userRole">User Role</label>
      </span>
  </div>
  </div>

        <ng-template pTemplate="footer">
          <div class="p-2 mdb-color lighten-5">
            <p-button icon="pi pi-check" (click)="updateUserRole()" label="Update" styleClass="p-button-text"></p-button>
            <p-button icon="pi pi-times" (click)="showRoleUpdateDialog=false" label="Cancel" styleClass="p-button-text p-button-danger"></p-button>
          </div>
        </ng-template>
        <p-progressBar *ngIf="isLoading" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
</p-dialog>

<p-dialog [(visible)]="showAccountCreationDialog" position="bottom-right" [modal]="false"
    [draggable]="false" [resizable]="false" [breakpoints]="{'960px': '25vw', '640px': '100vw'}" [style]="{width: '25vw'}">
    <ng-template pTemplate="header">
      <div class="text-center w-100">
        <h4 class="user-role-header-text login-card">
          <mdb-icon fas icon="key"></mdb-icon> Create <span class="login-card-span">
            Account</span>
        </h4>
      </div>
    </ng-template>
    <div class="p-fluid p-grid p-formgrid p-md-0">
      <div class="p-field p-col-12 p-md-12 mb-4">
            <label class="font-weight-lighter" for="name">Full Name</label>
            <input (onKeyUp)="handleNameChange($event)" type="text" id="name" pInputText [(ngModel)]="nameUser" placeholder="Enter full name" [ngClass]="userAccountForm && !nameUser ? 'ng-invalid ng-dirty p-inputtext-size' : 'p-inputtext-size'"> 
            <small *ngIf="userAccountForm && !nameUser" class="p-error">User name is required!</small>
    </div>
      <div class="p-field p-col-12 p-md-12 mb-4">
            <label class="font-weight-lighter" for="email">User Email</label>
            <input type="text" id="email" pInputText [(ngModel)]="userEmail" placeholder="Enter valid email address" [ngClass]="userAccountForm && errMsgEmail ? 'ng-invalid ng-dirty p-inputtext-size' : 'p-inputtext-size'"> 
            <small *ngIf="userAccountForm && errMsgEmail" class="p-error">{{errMsgEmail}}</small>
    </div>
      <div class="p-field p-col-12 p-md-12 mb-4">
            <label class="font-weight-lighter" for="mobile">User Mobile Number</label>
            <input type="text" id="mobile" pInputText [(ngModel)]="mobile" placeholder="Enter valid mobile number" [ngClass]="userAccountForm && errMsgMobile ? 'ng-invalid ng-dirty p-inputtext-size' : 'p-inputtext-size'"> 
            <small *ngIf="userAccountForm && errMsgMobile" class="p-error">{{errMsgMobile}}</small>
    </div>
      <div class="p-field p-col-12 p-md-12 mb-4">
            <label class="font-weight-lighter" for="userName">User Section/Department</label>
            <p-dropdown placeholder="Select user section" (onChange)="getSelectedSection($event)" inputId="userSection" [autoDisplayFirst]="false" [options]="userSections" [(ngModel)]="userSection" optionLabel="label" [ngClass]="userAccountForm && !userSection?.label ? 'ng-invalid ng-dirty' : ''" [style]="{fontWeight: 600}"></p-dropdown>
        <small *ngIf="userAccountForm && !userSection?.label" class="p-error">User section is required!</small>
    </div>
    <div class="p-field p-col-12 p-md-12 mb-4">
          <label class="font-weight-lighter" for="tempPassword">Temporary Password</label>
      <p-password (onBlur)="handleBlur($event)" inputId="tempPassword" [(ngModel)]="password" [toggleMask]="true" placeholder="Enter temp password" [strongRegex]="validator.mediumPasswordRegex()" [style]="{height: '42px'}">
        <ng-template pTemplate="header">
            <h6>Pick a password</h6>
        </ng-template>
        <ng-template pTemplate="footer">
            <p-divider></p-divider>
            <p class="p-mt-2">Suggestions</p>
            <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
                <li>At least one lowercase</li>
                <li>At least one uppercase</li>
                <li>At least one numeric</li>
                <li>Minimum 6 characters</li>
            </ul>
        </ng-template>
    </p-password>
    <small *ngIf="userAccountForm || !invalidPassword" id="tempPassword" class="p-error">{{errMsgPassword}}</small>
  </div>
    <div class="p-field p-col-12 p-md-12 mb-4">
        <label class="font-weight-lighter" for="userOfficeId">Assigned Office</label>
          <p-dropdown (onChange)="handleSelection($event)" placeholder="Select user office" inputId="userOfficeId" [autoDisplayFirst]="false" [options]="userOfficeLocation" [(ngModel)]="userOffice" optionLabel="label" [ngClass]="userAccountForm && !userOffice?.label ? 'ng-invalid ng-dirty' : ''" [style]="{fontWeight: 600}">
          </p-dropdown>
      <small *ngIf="userAccountForm && !userOffice?.label" id="userName" class="p-error">User office is required!</small>
  </div>
  </div>

        <ng-template pTemplate="footer">
          <div class="p-2 mdb-color lighten-5">
            <p-button icon="pi pi-check" (click)="createAccount()" label="Create" styleClass="p-button-text"></p-button>
            <p-button icon="pi pi-times" (click)="showAccountCreationDialog=false" label="Cancel" styleClass="p-button-text p-button-danger"></p-button>
          </div>
        </ng-template>
        <p-progressBar *ngIf="defaultLoading" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
</p-dialog>


<p-dialog [(visible)]="showProjectionDialog" position="bottom-right" [modal]="false"
    [draggable]="false" [resizable]="false" [breakpoints]="{'960px': '25vw', '640px': '100vw'}" [style]="{width: '25vw'}">
    <ng-template pTemplate="header">
      <div class="projection-header-container w-100">
      <span class="h5 light-blue-text font-weight-bold">Monthly Projection</span>
      <div class="d-flex p-field-checkbox align-items-center">
        <p-checkbox [(ngModel)]="editData" binary="true" inputId="binary"></p-checkbox>
        <label class="pink-text font-weight-bold" for="binary">Edit</label>
    </div>
    </div>
    </ng-template>
    <div class="p-fluid p-grid p-formgrid p-0">
    <div class="p-field p-col-12 p-md-12 mb-4">
      <label class="font-weight-lighter" for="monthpicker">Projection Month <span *ngIf="editData"
        class="edit-text h5">*</span></label>
      <p-calendar #calendar [(ngModel)]="projectionMonth" (onSelect)="validateDateInput()" [showIcon]="true" view="month" dateFormat="mm/yy" [yearNavigator]="true" yearRange="{{YEAR_RANGE}}" [readonlyInput]="true" inputId="monthpicker" [ngClass]="isDateIvalid ? 'ng-invalid ng-dirty' : ' '" aria-describedby="date-help"></p-calendar>
      <small *ngIf="isDateIvalid" id="date-help" class="p-error">Date must be provided</small>
    </div>

      <div class="p-col-12 mt-4 mb-4 p-md-12">
        <label class="font-weight-lighter" for="currency-us">Monthly Projection</label>
        <p-inputNumber [(ngModel)]="monthlyProjection" (onInput)="validateInput($event)" inputId="currency-us" mode="currency" currency="USD" locale="en-US" [ngClass]="isProjectionEmpty ? 'p-inputtext-lg ng-dirty' : ''" aria-describedby="amount-help">
        </p-inputNumber>
        <small *ngIf="isProjectionEmpty" id="amount-help" class="p-error">Monthly Projection must be provided</small> 
    </div>

      <div class="p-col-12 mt-4 p-col-12">
        <label class="font-weight-lighter" for="comment">Comment</label>
        <textarea pInputId="comment" [(ngModel)]="comment" rows="5" pInputTextarea placeholder="Type comment here..."></textarea>
      </div>
  </div>
        <ng-template pTemplate="footer">
          <div class="p-2 mdb-color lighten-5">
            <p-button icon="pi pi-check" (click)="saveProjectionData()" label="{{commitBtn}}" styleClass="p-button-text"></p-button>
            <p-button icon="pi pi-times" (click)="showProjectionDialog=false" label="Cancel" styleClass="p-button-text p-button-danger"></p-button>
          </div>
        </ng-template>
        <p-progressBar *ngIf="isLoading" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
</p-dialog>

<p-dialog header="LogOut" [(visible)]="userLogout" position="right">
  Are you sure you want to logout?
  <ng-template pTemplate="footer">
      <p-button icon="pi pi-sign-out" label="Logout" styleClass="p-button-text p-button-danger"></p-button>
      <p-button icon="pi pi-times" (click)="userLogout=false" label="Cancel" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>


<p-dialog [(visible)]="displayChangePasswordDialog" position="bottom-right" [modal]="false"
    [draggable]="false" [resizable]="false" [breakpoints]="{'960px': '25vw', '640px': '100vw'}" [style]="{width: '25vw'}">
    <ng-template pTemplate="header">
      <div class="text-center w-100">
        <h4 class="user-role-header-text login-card">
          <i class="pi pi-lock"></i> Change <span class="login-card-span">
            Password</span>
        </h4>
      </div>
    </ng-template>
    <div class="p-fluid p-grid p-formgrid p-md-0">
      <div class="p-field p-col-12 p-md-12 mb-4">
          <label class="font-weight-lighter" for="email">Old Password</label>
          <p-password [(ngModel)]="oldPassword" [toggleMask]="true" [feedback]="false" placeholder="Old Password" (onBlur)="handleOldPasswordBlur($event)" [style]="{height: '42px'}"></p-password>
          <small *ngIf="errMsgOldPassword" class="p-error">{{errMsgOldPassword}}</small>
    </div>
      <div class="p-field p-col-12 p-md-12 mb-4">
            <label class="font-weight-lighter" for="email">New Password</label>
            <p-password [(ngModel)]="newPassword" placeholder="New Password"  [strongRegex]="validator.strongPasswordRegex()" [toggleMask]="true" (onBlur)="handleNewPasswordBlur($event)" [style]="{height: '42px'}">
              <ng-template pTemplate="header">
                  <h6>Pick a password</h6>
              </ng-template>
              <ng-template pTemplate="footer">
                  <p-divider></p-divider>
                  <!-- <p class="p-mt-2">Suggestions</p> -->
                  <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
                      <li>Atleast 1 lowercase & uppercase</li>
                      <li>Atleast one number</li>
                      <li>One character(#@$!%*?&`~^_)</li>
                      <li>Minimum 6 characters</li>
                  </ul>
              </ng-template>
          </p-password>
          <small *ngIf="errMsgNewPassword" class="p-error">{{errMsgNewPassword}}</small>
    </div>
      <div class="p-field p-col-12 p-md-12 mb-4"> 
            <label class="font-weight-lighter" for="email">Confirm Password</label>
            <p-password [(ngModel)]="confirmPassword" [feedback]="false" placeholder="Confirm Password" (onBlur)="handleConfirmPasswordBlur($event)" [style]="{height: '42px'}"></p-password>
            <small *ngIf="errMsgConfirmPassword" class="p-error">{{errMsgConfirmPassword}}</small>
    </div>
  </div>

        <ng-template pTemplate="footer">
          <div class="p-2 mdb-color lighten-5">
            <p-button icon="pi pi-check" (click)="changePassword()" label="Update" styleClass="p-button-text"></p-button>
            <p-button icon="pi pi-times" (click)="displayChangePasswordDialog=false" label="Cancel" styleClass="p-button-text p-button-danger"></p-button>
          </div>
        </ng-template>
        <p-progressBar *ngIf="isLoading" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
</p-dialog>


<!-- useraccount -->

<p-dialog [(visible)]="displayUserAccountDialog" position="bottom-right" [modal]="false"
    [draggable]="false" [resizable]="false" [breakpoints]="{'960px': '25vw', '640px': '100vw'}" [style]="{width: '25vw'}">
    <ng-template pTemplate="header">
      <div class="text-center w-100">
        <h4 class="user-role-header-text login-card">
          <i class="pi pi-lock"></i> User <span class="login-card-span">
            Account</span>
        </h4>
      </div>
    </ng-template>
    <div class="p-fluid p-grid p-formgrid p-md-0">
    <div class="image-container">
      <div class="circle mb-2">
            <img [src]="userImg"
              (error)="onImgError($event)">
      </div>
      <button *ngIf="showImagePreview" (click)="handleDisplay()" pButton pRipple type="button" icon="pi pi-check" iconPos="left" label="Ok" class="p-button-success p-button-text"></button>
      <div *ngIf="showImagePreview">
        <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="1/1"
        roundCropper="true"
        cropperMinWidth="80"
        cropperMinHeight="80"
        format="png"
        (imageCropped)="imageCropped($event)"></image-cropper>
      </div>

        <div *ngIf="!showImagePreview" class="file-container">
          <div class="file-button-wrap">
            <label class="file-button" for="upload">Browse Image</label>
            <input id="upload" type="file" (change)="fileChangeEvent($event)">
          </div>
        </div>

    </div>
      <div class="p-field p-col-12 p-md-12 mb-4">
        <label class="font-weight-lighter" for="accountname">Name</label>
        <input (onKeyUp)="handleAccountNameChange($event)" type="text" id="accountname" pInputText [(ngModel)]="editedName" placeholder="Enter full name" [ngClass]="editAccountForm && !editedName ? 'ng-invalid ng-dirty p-inputtext-size' : 'p-inputtext-size'"> 
        <small *ngIf="editAccountForm && !editedName" class="p-error">User name is required!</small>
    </div>
    <div class="p-field p-col-12 p-md-12 mb-4">
          <label class="font-weight-lighter" for="editEmail">Email</label>
          <input type="text" id="editEmail" pInputText [(ngModel)]="editedEmail" class="p-inputtext-size" readonly> 
    </div>
  <div class="p-field p-col-12 p-md-12 mb-4">
        <label class="font-weight-lighter" for="editMobile">Mobile Number</label>
        <input type="text" id="editMobile" pInputText [(ngModel)]="editedMobile" placeholder="Enter valid mobile number" [ngClass]="editAccountForm && errMsgMobile ? 'ng-invalid ng-dirty p-inputtext-size' : 'p-inputtext-size'"> 
        <small *ngIf="editAccountForm && errEditedMsgMobile" class="p-error">{{errEditedMsgMobile}}</small>
  </div>
<div class="p-field p-col-12 p-md-12 mb-4">
  <label class="font-weight-lighter" for="editSection">Section</label>
  <input type="text" id="editSection" pInputText [(ngModel)]="editedSection" class="p-inputtext-size" readonly> 
</div>
<div class="p-field p-col-12 p-md-12 mb-4">
  <label class="font-weight-lighter" for="editOffice">Assigned Office</label>
  <input type="text" id="editOffice" pInputText [(ngModel)]="editedOffice" class="p-inputtext-size" readonly> 
</div>
</div>
    <ng-template pTemplate="footer">
      <div class="p-2 mdb-color lighten-5">
        <p-button icon="pi pi-check" (click)="updateUserAccount()" label="Update" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-times" (click)="displayUserAccountDialog=false" label="Cancel" styleClass="p-button-text p-button-danger"></p-button>
      </div>
    </ng-template>
    <p-progressBar *ngIf="isLoading" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
</p-dialog>

<p-dialog [(visible)]="displaySignatoryDialog" position="bottom-right" [modal]="false"
    [draggable]="false" [resizable]="false" [breakpoints]="{'960px': '25vw', '640px': '100vw'}" [style]="{width: '25vw'}">
    <ng-template pTemplate="header">
      <div class="text-center w-100">
        <h4 class="user-role-header-text login-card">
          <mdb-icon fas icon="file-signature"></mdb-icon> Add <span class="login-card-span">
            Signatories</span>
        </h4>
      </div>
    </ng-template>
    <div class="p-fluid p-grid p-formgrid p-md-0">
      <div class="p-field p-col-12 p-md-12 input-container">
        <span class="p-float-label">
            <input type="text" id="signatureName" pInputText [(ngModel)]="signatoryName" class="p-inputtext-size"> 
            <label class="font-weight-lighter" for="signatureName">Full Name</label>
        </span>
        <small *ngIf="isSignatoryNameInValid" class="p-error">Signatory name is required!</small>
      </div>
      <div class="p-field p-col-12 p-md-12 input-container">
        <span class="p-float-label">
            <input type="text" id="signatureContact" pInputText [(ngModel)]="signatoryContact" class="p-inputtext-size"> 
            <label class="font-weight-lighter" for="signatureContact">Contact</label>
        </span>
        <small *ngIf="isSignatoryContactInValid" class="p-error">Signatory contact is required!</small>
      </div>
      <div class="p-field p-col-12 p-md-12 mt-4">
        <span class="p-float-label">
            <p-dropdown #positionId inputId="position" [autoDisplayFirst]="false" [options]="positions" [(ngModel)]="signatoryPosition" optionLabel="label" [ngClass]="isSignatoryPositionInValid ? 'ng-invalid ng-dirty' : ''" [style]="{fontWeight: 600}"></p-dropdown>
            <label class="font-weight-lighter" for="position">Position</label>
        </span>
        <small *ngIf="isSignatoryPositionInValid" class="p-error">Signatory position is required!</small>
    </div>

      <div class="p-field p-col-12 p-md-12 input-container">
        <!-- <span class="p-float-label"> -->
          
          <label class="font-weight-lighter" for="email">Choose Signature</label>
          <p-fileUpload #signatureFile name="demo[]" (onSelect)="onSelect($event)"
           accept="image/*" maxFileSize="75000" [showCancelButton]="false" [showUploadButton]="false">
          <!-- <ng-template pTemplate="content">
              <ul *ngIf="signature.length > 0">
                  <li *ngFor="let file of signature">{{file.name}}</li>
              </ul>
          </ng-template> -->
          </p-fileUpload>
        <!-- </span> -->
    </div>
  </div>

        <ng-template pTemplate="footer">
          <div class="p-2 mdb-color lighten-5">
            <p-button icon="pi pi-check" (click)="updateOrCreateInfo($event)" label="Save" styleClass="p-button-text"></p-button>
            <p-button icon="pi pi-times" (click)="displaySignatoryDialog=false" label="Cancel" styleClass="p-button-text p-button-danger"></p-button>
          </div>
        </ng-template>
        <p-progressBar *ngIf="isSignatureLoading" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
</p-dialog>