@import "../../break-points.scss";

// -------- Custom File Upload button ---------------------
.image-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  // width: 100%;
}
.icon-padding {
  padding-right: 6px;
}

.img-fluid {
  margin-top: 1rem !important;
  padding: 2px 0.75rem 2px !important;
}
.circle {
  border-radius   : 50%;
  width           : 100px;
  height          : 100px;

  img{
      border-radius: 50%;
      width        : 100px;
      height       : 100px;
  }
}
.initials {
  // color         : #FFFFFF;
  font-size     : 20px;
  line-height   : 19px;
  letter-spacing: 0.2625px;
}
.show-new-password-message {
  opacity: 1;
}
.hide-new-password-message {
  opacity: 0;
}
.show-confirm-password-message {
  opacity: 1;
}
.hide-confirm-password-message {
  opacity: 0;
}
.show-generic-message {
  opacity: 1;
}
.hide-generic-message {
  opacity: 0;
}
.email-sent {
  margin-top: 3rem;
}

.file-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="file"] {
  // position: absolute;
  display: none;
  z-index: -1;
  top: 10px;
  left: 8px;
  font-size: 17px;
  color: #b8b8b8;
}

.file-button-wrap {
  position: relative;
}

.file-button {
  display: inline-block;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid #0099CC;
  font-size: 14px;
  font-weight: 600;
  color: #4285F4;

  &:hover {
    background-color: rgba(0,153,204, 0.1);
  }
}
.p-button-text {
  width: 80px !important;
}
//-----------------------------------------

:host ::ng-deep .p-button-success, .p-button-icon {
  font-weight: 700 !important;
  color: #00C851 !important;
}
.dropdown-menu {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.rd-navbar-bottom-panel {
  padding-bottom: 0 !important;
}
.submenu a {
  display: block;
  padding: 12px 20px;
  clear: both;
  white-space: nowrap;
  font-size: 14px;
  color: #2d3b48;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  width: 100%;
  border-top: 1px solid #f0f0f0;
}
.submenu a:first-child {
  border-top: none !important;
}

.submenu a {
  position: relative;
}
.submenu::before {
  border: 7px solid #fff;
  border-color: transparent transparent #fff #fff;
  box-shadow: -2px 2px 2px -1px rgba(0, 0, 0, 0.1);
  content: "";
  left: 122px;
  position: absolute;
  top: 2px;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.nav-flex-icons > .dropdown:hover > .dropdown-menu {
  display: block !important;
  margin-top: -1px;
  animation: zoomIn;
  animation-duration: 400ms;
}
.nav-flex-icons li .submenu a:hover {
  color: #0099cc;
  letter-spacing: 0.5px;
  padding-left: 20px;
}
.avatar-img {
  width: 20% !important;
}
mdb-accordion i {
  font-size: 1.5rem !important;
  padding-top: 6px !important;
}
mdb-accordion-item-body {
  padding-bottom: 0.5rem !important;
}
.social i {
  font-size: 1.5rem !important;
  padding-top: 0 !important;
}
.social li {
  padding: 0 !important;
  padding-top: 5px !important;
}
.icon-padding i {
  margin-right: 14px !important;
}
.input-container {
  margin-top: 2rem;
}
.updateRole-form {
  padding: 10;
}
.login-card-span {
  color: #49c0d0 !important;
}
.user-role-header-text {
  color: #1c2a48;
  font-weight: 500;
}
small {
  color: red;
  font-size: 0.75rem;
  line-height: 5px !important;
}
.user-color {
  color: #81c784;
}
.projection {
  color: #bdbdbd;
}
.projection-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pink-text {
  padding-top: 10px;
  padding-left: 4px;
}
.reset-color {
  color: #42a5f5;
}
.update-color {
  color: #1c2a48;
}
.edit-text {
  color: #e91e63;
}
.register-user {
  color: #9933cc;
}
.logout-color {
  color: #ef5350;
}
.add-user-color {
  color: #6a1b9a;
}
.toogle-color {
  color: #42a5f5;
}
.icon-color {
  color: #039be5;
}
.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
}
.p-dialog {
  background-color: salmon !important;
}

.animate-icon {
  animation: heartBeat;
  animation-delay: 4s;
  animation-iteration-count: infinite;
  &:hover {
    animation-play-state: paused;
  }
}

@include to($breakpoint-sm) {
  .avatar-container {
    margin-right: 0.75rem;
  }
}
