.title-color {
    color: #0d47a1;
}
.count-color {
    color: #9e9e9e;
}
.auth-form {
  animation: zoomIn;
  animation-duration: 2s;
}
.error-message {
  color: red;
  padding-left: 2rem;
}
.success-message {
  color: lime;
  padding-left: 2rem;
}
.email-sent {
  position: absolute;
  bottom: 25%;
}
.card-title {
  color: #40c4ff;
  font-weight: 100 !important;
}
.bg-home {
    height: 100vh;
    background-size: cover;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    position: relative;
    background-position: center center;
  }
  .bg-circle-gradiant {
    background: radial-gradient(circle at 50% 50%, rgba(47, 85, 212, 0.1) 0%, rgba(47, 85, 212, 0.1) 33.333%, rgba(47, 85, 212, 0.3) 33.333%, rgba(47, 85, 212, 0.3) 66.666%, rgba(47, 85, 212, 0.5) 66.666%, rgba(47, 85, 212, 0.5) 99.999%);
  }
.card {
    width: 400px;
    border: none;
    height: 300px;
    box-shadow: 0px 5px 20px 0px #d2dae3;
    z-index: 1;
    top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.card h6 {
    color: #1976d2;
    font-size: 20px
}
.height-100 {
    height: 100vh
}

.inputs input {
    width: 40px;
    height: 40px
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0
}

.card-2 {
    background-color: #fff;
    padding: 10px;
    width: 350px;
    height: 100px;
    bottom: -40px;
    left: 20px;
    position: absolute;
    border-radius: 5px;

    span {
        font-weight: 100 !important;
    }
}

.card-2 .content {
    margin-top: 50px
}

.card-2 .content a {
    color: #1e88e5;
    padding-left: 6px;
    font-weight: 700;
}

.form-control:focus {
    box-shadow: none;
    border: 2px solid #90caf9;
}

.validate {
    border-radius: 20px;
    // height: 40px;
    // background-color: red;
    // border: 1px solid red;
    padding: 6px auto;
    font-weight: 600;
    width: 200px
}


.bg-overlay {
    background-color: rgba(60, 72, 88, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  
  .bg-overlay-gradient {
    background-color: rgba(47, 85, 212, 0.6);
  }
  
  .bg-overlay-white {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .bg-overlay-gradient2 {
    background-image: -webkit-gradient(linear, left top, right top, from(#2eca8b), color-stop(#2f55d4), to(#2eca8b));
    background-image: linear-gradient(90deg, #2eca8b, #2f55d4, #2eca8b);
    opacity: 0.5;
  }
  .login-page {
    font-size: 15px;
    top: -40px;
  }

  .card .card-body {
    padding: 0.75rem;
  }

@media (max-width: 767px) {
    .bg-home, .bg-half-170, .bg-half-260, .main-slider .slides .bg-slider, .bg-marketing {
      padding: 150px 0;
      height: auto;
    }
}