
        <section class="bg-home bg-circle-gradiant d-flex align-items-center">
            <div class="bg-overlay bg-overlay-white"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-8 d-flex justify-content-center"> 
                        <div class="card login-page bg-white shadow rounded border-0 grey lighten-5 auth-form">
                            <div class="card-body">
                                <h5 class="card-title text-center pb-2 font-weight-lighter"><span class="font-weight-bold title-color">Account</span> Verification</h5>
                                    <form (ngSubmit)="verifyCode()" id="codes">
                                    <div class="position-relative mt-0">
                                        <div class="card p-2 text-center">
                                            <h6>Please enter the one time passcode <br> to verify your account</h6>
                                            <div> <span class="count-color">A code that was sent to your email!</span> </div>
                                            <div id="codeInput" class="inputs d-flex flex-row justify-content-center mt-2">
                                            <input name="first" class="m-2 text-center form-control rounded" type="number" id="first" maxlength="1" step="1" /> 
                                            <input name="second" class="m-2 text-center form-control rounded" type="number" id="second" maxlength="1" step="1" /> 
                                            <input name="third" class="m-2 text-center form-control rounded" type="number" id="third" maxlength="1" step="1" /> 
                                            <input name="fourth" class="m-2 text-center form-control rounded" type="number" id="fourth" maxlength="1" step="1" /> 
                                            <input name="fifth" class="m-2 text-center form-control rounded" type="number" id="fifth" maxlength="1" step="1" /> 
                                            <input name="sixth" class="m-2 text-center form-control rounded" type="number" id="sixth" onKeyPress="if(this.value.length === 1) return false;"  /> 
                                        </div>
                                            <!-- <div class="mt-4"> <button class="btn btn-danger px-4 validate">Validate</button> </div> -->
                                            <div class="text-center mb-3 mt-2">
                                                <button type="submit" mdbBtn gradient="blue" block="true" rounded="true" class="z-depth-1a waves-light px-4 validate" mdbWavesEffect>Validate</button>
                                            </div>
                                            <div *ngIf="showMsg" class="w-100 email-sent pb-2"><p [ngClass]="success ? 'text-left success-message' : 'text-left error-message'">{{msgText}}</p></div>
                                            <mdb-progress-bar *ngIf="isLoading" class="progress primary-color-dark mt-4" mode="indeterminate"></mdb-progress-bar>
                                        </div>
                                        <div class="card-2">
                                            <div class="content d-flex justify-content-center align-items-center"> <span class="font-weight-lighter">Code already expired? </span> <a (click)="resendCode()" mdbWavesEffect class="text-decoration-none ms-3"> Resend</a> <span class="count-color pl-2">({{count}}/3)</span></div>
                                        </div>
                                    </div>
                                </form>
                                </div>
                            </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </section><!--end section-->
