<section class="bg-home bg-circle-gradiant d-flex align-items-center">
  <div class="bg-overlay bg-overlay-white"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-8 d-flex justify-content-center">
        <div
          class="
            card
            login-page
            bg-white
            shadow
            rounded
            border-0
            grey
            lighten-5
            auth-form
          "
        >
          <div class="card-body">
            <h5 class="card-title text-center pb-2 font-weight-lighter">
              <span class="font-weight-bold title-color">Password</span> Reset
            </h5>

            <div class="position-relative">
              <div class="card p-4 text-left">
                <h6 class="mt-4">Enter and confirm your new password</h6>
                <div>
                  <span class="count-color"
                    >No further process is required!</span
                  >
                </div>
                <div class="mt-2 p-fluid p-grid p-formgrid w-100">
                  <div class="p-field p-col-12 mt-2 mb-2">
                    <span class="p-float-label">
                      <p-password
                        [(ngModel)]="newPassword"
                        [strongRegex]="validator.strongPasswordRegex()"
                        [toggleMask]="true"
                        (onBlur)="handleNewPasswordBlur($event)"
                        [style]="{ height: '42px', width: '100%' }"
                      >
                        <ng-template pTemplate="header">
                          <h6>Pick a password</h6>
                        </ng-template>
                        <ng-template pTemplate="footer">
                          <p-divider></p-divider>
                          <!-- <p class="p-mt-2">Suggestions</p> -->
                          <ul
                            class="text-left p-pl-2 p-ml-2 p-mt-0"
                            style="line-height: 1.5"
                          >
                            <li>Atleast one lowercase</li>
                            <li>Atleast one uppercase</li>
                            <li>Atleast one number</li>
                            <li>Atleast 1 special character(#@$!%*?&`~^_)</li>
                            <li>Minimum of 6 characters</li>
                          </ul>
                        </ng-template>
                      </p-password>
                      <label class="font-weight-lighter">New Password</label>
                    </span>
                    <small
                      [ngClass]="{
                        'hide-new-password-message': !errMsgNewPassword,
                        'p-error show-new-password-message': errMsgNewPassword
                      }"
                      >{{ errMsgNewPassword }}</small
                    >
                  </div>
                  <div class="p-field p-col-12 mt-4">
                    <span class="p-float-label">
                      <p-password
                        [(ngModel)]="confirmPassword"
                        [feedback]="false"
                        (onBlur)="handleConfirmPasswordBlur($event)"
                        [style]="{ height: '42px', width: '100%' }"
                      ></p-password>
                      <label class="font-weight-lighter"
                        >Confirm Password</label
                      >
                    </span>
                    <small
                      [ngClass]="{
                        'hide-confirm-password-message': !errMsgConfirmPassword,
                        'p-error show-confirm-password-message':
                          errMsgConfirmPassword
                      }"
                      >{{ errMsgConfirmPassword }}</small
                    >
                  </div>
                </div>
                <div class="text-center mb-3 mt-2">
                  <button
                    type="button"
                    mdbBtn
                    gradient="blue"
                    block="true"
                    rounded="true"
                    class="z-depth-1a waves-light px-4 validate"
                    (click)="verifyCode()"
                    mdbWavesEffect
                  >
                    Reset Password
                  </button>
                </div>
                <div *ngIf="showMsg" class="w-100 email-sent">
                  <p
                    [ngClass]="
                      success
                        ? 'text-left success-message mt-2'
                        : 'text-left error-message mt-2'
                    "
                  >
                    {{ msgText }}
                  </p>
                </div>
                <mdb-progress-bar
                  *ngIf="isLoading"
                  class="progress primary-color-dark mt-4"
                  mode="indeterminate"
                ></mdb-progress-bar>
              </div>
              <div class="card-2">
                <div
                  class="
                    content
                    d-flex
                    justify-content-center
                    align-items-center
                  "
                >
                  <span class="font-weight-lighter"
                    >Email already expired?
                  </span>
                  <a
                    (click)="resendEmail()"
                    mdbWavesEffect
                    class="text-decoration-none ms-3"
                  >
                    Resend</a
                  >
                  <span class="count-color pl-2">({{ count }}/3)</span>
                </div>
              </div>
            </div>
            <!-- </form> -->
          </div>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</section>
<!--end section-->
