@import '../../break-points.scss';

.btn {
    color: #1A76D1;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 6px !important;
}
.newsletter .subscribe-form {
    position: relative;
  }
  .error-page {
    text-align: center;
    background: #fff;
    border-top: 1px solid #eee;
    height: 100vh;
    overflow: hidden;
  }
  .error-page .error-inner {
    display: inline-block;
  }
  .error-page .error-inner h1 {
    font-size: 140px;
    text-shadow: 3px 5px 2px #3333;
    color: #1a76d1;
    font-weight: 700;
  }
  .error-page .error-inner h1 span {
    display: block;
    font-size: 25px;
    color: #333;
    font-weight: 600;
    text-shadow: none;
  }
  .error-page .error-inner p {
    padding: 20px 15px;
  }
  .newsletter .btn {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    padding: 0;
    width: 180px;
    position: relative;
    top: -2px;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 13px;
    font-weight: 500;
    box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
  }
  .newsletter .btn:before {
    border-radius: 5px;
  }
  .newsletter .button:hover {
    box-shadow: none;
  }
.lighten-5 {
    padding: 1rem 0;
}

@include to($breakpoint-sm) {
    .btn {
        font-size: 1.5rem;
    }
    .lighten-5 {
        padding: 0.5rem 0;
    }
}