<!-- Error Page -->
<section class="error-page section d-flex align-items-center">
    <!-- <div class="blue lighten-5 "> -->
    <div class="col-12 blue lighten-5">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-12">
                <!-- Error Inner -->
                <div class="error-inner">
                    <h1>404<span>Ooops, Bad Request!</span></h1>
                    <p>Your search did not match any page or resource!</p>
                <div class="subscribe-form">
                    <form class="newsletter-inner" [formGroup]="searchForm">
                        <a class="btn" href="/dashboard">Go Home</a>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</section>	
<!--/ End Error Page -->
