$breakpoints: (
  "xsmall": (
    max-width: 400px,
  ),
  "small": (
    min-width: 401px,
  ),
  "medium": (
    min-width: 768px,
  ),
  "large": (
    min-width: 992px,
  ),
  "xlarge": (
    min-width: 1200px,
  ),
  "xxlarge": (
    min-width: 1440px,
  ),
);

$breakpoint-xxl: 1500px;
$breakpoint-xl: 1440px;
$breakpoint-lg: 1200px;
$breakpoint-md: 992px;
$breakpoint-sm: 768px;
$breakpoint-sms: 668px;
$breakpoint-ms: 569px;
$breakpoint-xs: 480px;
$breakpoint-xxs: 410px;

//---------- Media Query Starts ----------------

@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == "string",
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
           + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

@mixin flexCenter($direction) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  flex-direction: $direction;
}

// ---------------------------------------------------------
// @All Above Media Query Mixin
// ---------------------------------------------------------

// Mixin used to match certain breakpoint
// and all devices above it.

@mixin from($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

// ---------------------------------------------------------
// @All Under Media Query Mixin
// ---------------------------------------------------------

// Mixin used to match all devices under certain breakpoint.

@mixin to($breakpoint) {
  @media screen and (max-width: ($breakpoint - 1px)) {
    @content;
  }
}

// ---------------------------------------------------------
// @Between Two Devices Media Query Mixin
// ---------------------------------------------------------

// Mixin used to match the devices between 2 breakpoints.

@mixin between($start, $end) {
  @media screen and (min-width: $start) and (max-width:( $end - 1px)) {
    @content;
  }
}

// Maxin used to match the devices in portrait or landscape mode
@mixin orientation($orientation) {
  @media screen and (orientation: $orientation) {
    @content;
  }
}
