@import "./break-points.scss";

html,
body {
  background-color: rgba(#e3f2fd, 0.25);
  margin: 0 !important;
}
/*
*
* Preloader
*/
.preloader {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 9999999;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	background: #fff;
	transition: .3s all ease;
}

.preloader.loaded {
	opacity: 0;
	visibility: hidden;
}

.preloader-deactivate {
	opacity: 0;
	visibility: hidden;
}

.preloader-body {
	text-align: center;
}

.preloader-body p {
	position: relative;
	right: -8px;
}

.cssload-container {
	width: 100%;
	height: 36px;
	text-align: center;
}

.cssload-speeding-wheel {
	width: 36px;
	height: 36px;
	margin: 0 auto;
	border: 3px solid #49c0d0;
	border-radius: 50%;
	border-left-color: transparent;
	border-bottom-color: transparent;
	animation: cssload-spin .88s infinite linear;
}

@-webkit-keyframes cssload-spin {
	100% {
		transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-spin {
	100% {
		transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-spin {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes cssload-spin {
	100% {
		transform: rotate(360deg);
	}
}


// loading spinner
// loader css
#loader {
  transition: all 0.5s ease-in-out;
  opacity: 1;
  visibility: visible;
  position: fixed;
  background: #fff;
  z-index: 90000;
}
.centered {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#loader.fadeOut {
  opacity: 0;
  visibility: hidden;
}

.spinner {
  width: 50px;
  height: 50px;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.5s infinite ease-in-out;
  animation: sk-scaleout 1.5s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(2);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}

.form-box-shadow {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08);
}
// .img-toggle-padding img {
//   padding-left: 0 !important;
// }
.input-spacing {
  margin-top: 1.5rem;
}
.page-headings {
  margin-top: 0.25rem !important;

  h3 {
    color: #4b515d !important;
  }
}
.container-bg {
  margin-top: 0.5rem !important;
  background-color: transparent;
  padding: 3rem 5rem 3rem !important;
  transition: all 0.4s ease-out;
  margin-bottom: 7rem;
}

.custom-container {
  padding: 3rem 0.5rem 0.5rem 15rem;
  max-height: 100%;
  overflow-y: visible;
}
.bgc {
  background-color: wheat;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"] {
  width: 100%;
  height: 44px;
  border: 1px solid #c5c4c4;
  padding: 0 8px;
  // color: #555;
  color: #1c2a48;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  display: inline-block;
  box-sizing: border-box;
}

.form-group textarea {
  border: 1px solid #ddd;
  width: 100%;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  box-shadow: none;
  border-radius: 0px;
  border: none;
  height: 160px;
  padding: 8px 12px;
  resize: none;
  font-weight: 400;
  font-size: 15px;
  color: #2c2d3f;
  line-height: 20px;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
select:invalid,
.option-placeholder {
  font-weight: 100 !important;
  // color: #f00;
  font-size: 0.85rem !important;
}

.invalid-error {
  border-color: hsl(0, 76%, 50%) !important;
  color: #f00 !important;
  font-weight: 100 !important;
}

.invalid-error::placeholder {
  color: #f00 !important;
  font-size: 0.85rem !important;
}

.error-border {
  border: 1px solid #f00 !important;
  border-radius: 4px !important;
}

input[type="date"]:invalid::-webkit-datetime-edit {
  font-weight: 100 !important;
}

button[type="submit"] {
  color: #fff !important;
  padding: 10px 40px !important;
  font-size: 18px !important;
  text-transform: none !important;
  font-weight: 500;
  background: #4285f4;
  position: relative;
  box-shadow: none;
  display: inline-block;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  border: none !important;
  border-radius: 25px !important;
}

button[type="submit"]:hover {
  color: #fff;
  box-shadow: none;
  border-radius: 25px !important;
}

button[type="submit"]:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #1a237e;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 25px !important;
  border: none !important;
}

button[type="submit"]:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

// -----------Double Nav Styles Start-------------------
.adjust-img img {
  padding: 8px auto !important;
  padding-top: 8px !important;
}

header,
footer,
main {
  padding-left: 0 !important;
}

.toggle-slim-nav {
  padding-left: 3rem !important;
}

.slim-footer,
.slim-main {
  padding-left: 240px !important;
}
.dashboard-container {
  padding-left: 100px !important;
}

// .img-toggle-padding img {
//   padding-left: 0 !important;
//   padding-top: 20px !important;
//   width: 45%;
// }

.card-board-container {
  padding-left: 240px;
  padding-left: 10px;
  .card-board {
    margin: auto;
  }
}
.table-header-Text {
  color: #1c2a48;
  font-weight: 700;
}

@include between($breakpoint-md, $breakpoint-xl) {
  .button-collapse {
    display: none !important;
  }

  .scrolling-navbar {
    padding-left: 220px !important;
  }

  .toggle-slim-nav {
    padding-left: 3rem !important;
  }
}
@include to($breakpoint-lg) {
  .container-bg {
    margin-top: 0.3rem;
    padding: 2rem 3rem 2rem !important;
    margin-bottom: 1rem;
  }
}

@include to($breakpoint-md) {
  .container-bg {
    margin-top: 0.3rem;
    padding: 1.5rem 2.5rem 1.5rem !important;
    margin-bottom: 1rem;
  }
  header,
  .slim-footer,
  .slim-main,
  .card-board-container,
  main,
  footer {
    padding-left: 0 !important;
  }
  .img-fluid {
    width: 50%;
  }
  .custom-container {
    padding: 2.75rem 0.5rem;
  }
  .page-headings {
    margin-top: 0 !important;
    margin-left: 2rem !important;

    h3 {
      font-size: 1.25rem !important;
    }
  }
}
@include to($breakpoint-sm) {
  .container-bg {
    margin-top: 0.25rem;
    padding: 1rem 2rem 1rem !important;
    margin-bottom: 0.75rem;
  }
  .custom-container {
    padding: 3rem 0.5rem;
  }
  @include orientation(portrait) {
    .all-charts-display {
      display: none;
    }
  }
}