<div class="preloader">
  <div class="cssload-container">
    <div class="cssload-speeding-wheel"></div>
    <p>Loading...</p>
  </div>
</div>

<!-- <div id='loader' class="centered">
    <div class="spinner"></div>
  </div> -->

<app-doublenav></app-doublenav>
<div class="card-board-container">
  <div class="card-board">
    <div class="custom-container">
        <div class="py-6 px-4">
      <h3>Dashboard Components Go Here</h3>
    </div>
    </div>
  </div>
</div>
